{% extends 'base.html.twig' %}

{% block title %}
    {{ category is defined ? 'Modifier la catégorie' : 'Nouvelle catégorie' }}
{% endblock %}

{% block body %}
<h1>{{ category is defined ? 'Modifier la catégorie' : 'Nouvelle catégorie' }}</h1>

{{ form_start(form) }}
    <div>
        {{ form_label(form.libelle) }}
        {{ form_widget(form.libelle) }}
        {{ form_errors(form.libelle) }}
    </div>
    <button type="submit" class="btn">
        {% if category is defined %}
            <img src="{{ asset('Visuels/Icônes/Edit_Beige.png') }}" alt="Modifier">Modifier la catégorie
        {% else %}
            <img src="{{ asset('Visuels/Icônes/Plus_Beige.png') }}" alt="Créer">Créer la catégorie
        {% endif %}
    </button>
{{ form_end(form) }}

<a href="{{ path('categorydrink_list') }}" class="btn">
    <img src="{{ asset('Visuels/Icônes/Back_Beige.png') }}" alt="Retour">Retour à la liste
</a>

{% endblock %}