<div class="ajx-list">
    <h1>Liste des catégories - Boissons</h1>

    <button class="ajax-btn add-category" 
        data-url="{{ path('categorydrink_new') }}" 
        data-default="false">
        <img src="{{ asset('Visuels/Icônes/Plus_Beige.png') }}" alt="Créer une catégorie">
        Créer une catégorie
    </button>

    <table class="category-table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.libelle }}</td>
                    <td class="action-buttons">
                        <button class="ajax-btn btn-see" data-url="{{ path('categorydrink_show', {'id': category.id}) }}">
                            <img src="{{ asset('Visuels/Icônes/See_Beige.png')}}" class="image-plat">
                            Voir &amp; modifier
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>