<div class="condition-show-container">
    <div class="commande-actions">
        <button class="ajax-btn btn-back" data-url="{{ path('condition_list') }}">
            <img src="{{ asset('Visuels/Icônes/Back_Beige.png') }}">Retour à la liste
        </button>
    </div>

    <h1>Modifier la condition</h1>

    {{ form_start(form, {
        action: path('condition_edit', { id: condition.id }),
        attr: { class: 'ajax-condition-form' }
    }) }}

    <div class="form-group">
        {{ form_label(form.libelle) }}
        {{ form_widget(form.libelle, { attr: { class: 'form-input' } }) }}
        {{ form_errors(form.libelle) }}
    </div>

    <button type="submit" class="btn condition-btn-edit">
        <img src="{{ asset('Visuels/Icônes/Select_Beige.png') }}" alt="Enregistrer">
        Enregistrer la modification
    </button>

{{ form_end(form) }}

<form method="post"
      action="{{ path('condition_delete', {'id': condition.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ condition.id) }}">
    <button class="btn condition-btn-delete">
        <img src="{{ asset('Visuels/Icônes/Delete_Beige.png') }}" alt="Supprimer">
        Supprimer
    </button>
</form>
</div>
