<div class="ajx-list">

<h1 class="condition-header">Liste des conditions</h1>

<button class="ajax-btn add-menu" 
        data-url="{{ path('condition_new') }}" 
        data-default="false">
    <img src="{{ asset('Visuels/Icônes/Plus_Beige.png') }}" alt="Créer une condition">
    Créer une nouvelle condition
</button>

<table class="condition-table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
            {% for condition in conditions %}
                <tr>
                    <td>{{ condition.libelle }}</td>
                    <td class="action-buttons">
                        <button class="ajax-btn btn-see" data-url="{{ path('condition_show', {'id': condition.id}) }}">
                            <img src="{{ asset('Visuels/Icônes/See_Beige.png')}}">
                            Voir &amp; modifier
                        </button>
                    </td>
                </tr>
            {% endfor %}
    </tbody>
</table>

</div>