<div class="condition-show-container">
    <div class="commande-actions">
        <button class="ajax-btn btn-back" data-url="{{ path('condition_list') }}">
            <img src="{{ asset('Visuels/Icônes/Back_Beige.png') }}">Retour à la liste
        </button>
    </div>

<h1>Détails de la condition</h1>

<p>{{ condition.libelle }}</p>

<div class="condition-actions">
    <button
        class="ajax-btn btn condition-btn-edit"
        data-url="{{ path('condition_edit', {'id': condition.id}) }}">
        <img src="{{ asset('Visuels/Icônes/Edit_Beige.png') }}" alt="Modifier">
        Modifier
    </button>

    <form method="post"
          action="{{ path('condition_delete', {'id': condition.id}) }}"
          onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette condition ?');">
        
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ condition.id) }}">

        <button class="btn condition-btn-delete" type="submit">
            <img src="{{ asset('Visuels/Icônes/Delete_Beige.png') }}" alt="Supprimer">
            Supprimer
        </button>
    </form>
</div>


</div>