<div class="ajx-list">
    <h1>Liste des badges</h1>

    <button class="ajax-btn add-badge" 
        data-url="{{ path('badge_new') }}" 
        data-default="false">
        <img src="{{ asset('Visuels/Icônes/Plus_Beige.png') }}" alt="Créer un badge">
        Créer un badge
    </button>

    <table class="horaire-table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Icône</th>
                <th>Actif</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for badge in badges %}
                <tr>
                    <td>{{ badge.nom }}</td>
                    <td>{{ badge.description }}</td>
                    <td>
                        <img src="{{ asset(badge.icone) }}" 
                            alt="{{ badge.nom }}"
                            class="badge-icon">
                    </td>
                    <td>
                        {{ badge.actif ? 'Oui' : 'Non' }}
                    </td>
                    <td class="action-buttons">
                        <button class="ajax-btn btn-see" data-url="{{ path('badge_show', {'id': badge.id}) }}">
                            <img src="{{ asset('Visuels/Icônes/See_Beige.png')}}" class="image-plat">
                            Voir &amp; modifier
                        </button>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun badge trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>