<div class="ajx-list">

    <div class="commande-actions">
        <button class="ajax-btn btn-back" data-url="{{ path('admin_plats_list') }}">
            <img src="{{ asset('Visuels/Icônes/Back_Beige.png') }}">Retour à la liste
        </button>
    </div>

    <h1 class="options-title">{{ fromage.titreFromage }}</h1>

    <div class="option-p">
    <p><strong>Catégorie : </strong>{{ fromage.category ? fromage.category.libelle : '-' }}</p>
    <p><strong>Description : </strong>{{ fromage.description }}</p>
    <p><strong>Stock : </strong>{{ fromage.stock }}</p>
    <p><strong>Minimum de commande : </strong>{{ fromage.minCommande }}</p>
    <p><strong>Prix par fromage : </strong>{{ fromage.prixParFromage }} €</p>

    {% if fromage.image %}
    <h2>Image</h2>
        <img src="{{ asset(fromage.image) }}" alt="{{ fromage.alt }}">
    {% endif %}
    </div>

    <div class="plat-actions">
        <button class="btn ajax-btn" data-url="{{ path('fromages_edit', {'id': fromage.id}) }}">
            <img src="{{ asset('Visuels/Icônes/Edit_Beige.png') }}" alt="Modifier">
            Modifier
        </button>

        <form method="post"
            action="{{ path('fromages_delete', {'id': fromage.id}) }}"
            onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce fromage ?');"
            style="display:inline-block;">
            
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fromage.id) }}">

            <button class="btn plat-btn-delete" type="submit">
                <img src="{{ asset('Visuels/Icônes/Delete_Beige.png') }}" alt="Supprimer">
                Supprimer
            </button>
        </form>
    </div>

</div>