<div class="ajx-list">
    <h1 class="employe-header">Liste des employés</h1>

    <button class="ajax-btn add-employe" 
        data-url="{{ path('employe_new') }}" 
        data-default="false">
        <img src="{{ asset('Visuels/Icônes/Plus_Beige.png') }}" alt="ajouter employé">
        Ajouter un employé
    </button>

    <table class="employe-table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Rôle</th>
                <th>Actif</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for employe in employes %}
                <tr>
                    <td>{{ employe.nom }}</td>
                    <td>{{ employe.prenom }}</td>
                    <td>{{ employe.email }}</td>
                    <td>{{ employe.telephone ?: 'Non renseigné' }}</td>
                    <td>{{ employe.role.libelle }}</td>
                    <td>{{ employe.actif ? 'Oui' : 'Non'}}</td>
                    <td class="action-buttons">
                    <button class="ajax-btn btn-see" data-url="{{ path('employe_show', {'id': employe.id}) }}">
                        <img src="{{ asset('Visuels/Icônes/See_Beige.png')}}" class="image-plat">
                        Voir &amp; modifier
                    </button>
                </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Aucun employé trouvé.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>