<div class="ajx-list">
    <div class="commande-actions">
        <button class="ajax-btn btn-back" data-url="{{ path('categorycheese_list') }}">
            <img src="{{ asset('Visuels/Icônes/Back_Beige.png') }}">Retour à la liste
        </button>
    </div>

    <h1>
        Détails de la catégorie <br>
        {{ category.libelle }}
    </h1>

    <div class="plat-actions">
        <button class="btn ajax-btn" data-url="{{ path('categorycheese_edit', {'id': category.id}) }}">
            <img src="{{ asset('Visuels/Icônes/Edit_Beige.png') }}" alt="Modifier">
            Modifier
        </button>

        <form method="post"
            action="{{ path('categorycheese_delete', {'id': category.id}) }}"
            onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette catégorie ?');"
            style="display:inline-block;">
            
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">

            <button class="btn plat-btn-delete" type="submit">
                <img src="{{ asset('Visuels/Icônes/Delete_Beige.png') }}" alt="Supprimer">
                Supprimer
            </button>
        </form>
    </div>
</div>