<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Vite &amp; Gourmand{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <!-- HEADER -->
        <header class="site-header">
            <a href="{{ path('menus_list') }}" class="bandeau-commande">COMMANDER</a>

            <div class="header-content">
                <h1>VITE &amp; GOURMAND</h1>
                <a class="logo-container" href="{{ path('homepage') }}">
                    <img src="{{ asset('Visuels/Logo.png') }}" alt="Logo - Vite &amp; Gourmand" class="logo">
                </a>

                <nav class="menu">
                    <h2 class="menu-links"><a href="{{ path('homepage') }}">ACCUEIL</a></h2>
                    <h2 class="menu-links"><a href="{{ path('menus_list') }}">MENUS</a></h2>
                    <h2 class="menu-links"><a href="{{ path('contact') }}">CONTACT</a></h2>
                </nav>

                <div class="icons">
                    <div class="icon-wrapper">
                        <a href="{{ path('panier') }}">
                            <img src="{{ asset('Visuels/Icônes/Panier.png')}}" alt="Panier - Vite &amp; Gourmand" class="header-icon">
                            <span class="cart-badge"></span> 
                        </a>
                    </div>
                    {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('admin_dashboard') }}">
                                <img src="{{ asset('Visuels/Icônes/Compte.png') }}" class="header-icon">
                            </a>

                        {% elseif is_granted('ROLE_EMPLOYE') %}
                            <a href="{{ path('employe_dashboard') }}">
                                <img src="{{ asset('Visuels/Icônes/Compte.png') }}" class="header-icon">
                            </a>

                        {% elseif is_granted('ROLE_USER') %}
                            <a href="{{ path('dashboard_user') }}">
                                <img src="{{ asset('Visuels/Icônes/Compte.png') }}" class="header-icon">
                            </a>

                        {% else %}
                            <a href="{{ path('app_login', {'from_home': 1}) }}">
                                <img src="{{ asset('Visuels/Icônes/Compte.png') }}" class="header-icon">
                            </a>
                        {% endif %}
                </div>
                <div class="burger">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>

            <nav class="mobile-menu">
                <button class="close-btn">
                    <img src="{{ asset('Visuels/Icônes/Croix_Beige.png') }}" alt="Fermer">
                </button>
                <img src="{{ asset('Visuels/Logo.png') }}" alt="Logo - Vite &amp; Gourmand" class="mobile-menu-image">
                <a href="{{ path('homepage') }}">ACCUEIL</a>
                <a href="{{ path('menus_list') }}">COMMANDER</a>
                <a href="{{ path('app_login') }}">CONNEXION</a>
                <a href="{{ path('contact') }}">CONTACT</a>
            </nav>
        </header>

        <!-- CONTENU DE PAGES INJECTÉ -->
        <main>
            {% block content %}
            {# Contenu spécifique à chaque page injecté ici #}
            {% endblock %}
        </main>

        <!-- FOOTER -->
        <footer class="site-footer">
            <div class="footer-columns">

                <div class="footer-left">
                    <address>
                        Vite &amp; Gourmand <br>
                        12, rue de l'Océan - 33000 Bordeaux <br><br>
                        <strong>Horaires :</strong> <br>
                        {% set openings = get_openings_hours() %}
                        {% if openings is not empty %}
                            {% for pair in openings %}
                                {% set hours_array = pair[0]|split('-') %}
                                {{ pair[1]|join(', ') }} : {{ hours_array[0] }} - {{ hours_array[1] }}<br>
                            {% endfor %}
                        {% else %}
                            Horaires non disponibles
                        {% endif %}
                    </address>
                </div>

                <div class="footer-middle">
                    <a class="logo-container" href="{{ path('homepage') }}">
                        <img src="{{ asset('Visuels/Logo.png') }}" alt="Logo - Vite &amp; Gourmand" class="logo-footer">
                    </a>
                </div>

                <div class="footer-right">
                    <nav class="footer-nav">
                        <a href="{{ path('cgv') }}">Conditions Générales de Vente</a>
                        <a href="{{ path('privacy') }}">Politique de Confidentialité</a>
                        <a href="{{ path('faq') }}">Foire à Questions (FAQ)</a>
                        <a href="{{ path('reviews') }}">Avis de nos clients</a>
                        <a href="{{ path('contact') }}">Nous contacter</a>
                    </nav>
                </div>

            </div>

            <div class="footer-line"></div>

            <div class="footer-bottom">
                <p>© Vite &amp; Gourmand - 2026 - Tous droits réservés</p>
            </div>
        </footer>

        {% block javascripts %}
            <script src="{{ asset('js/main.js') }}"></script>
            <script src="{{ asset('js/panier.js') }}"></script>
        {% endblock %}

    </body>
</html>