<div class="ajx-list">

    <div class="commande-actions">
        <button type="button" class="ajax-btn btn-back-edit" data-url="{{ path('commande_list') }}">
            <img src="{{ asset('Visuels/Icônes/Back_Beige.png') }}"> Retour à la liste
        </button>
    </div>

    <h1>Modifier la commande</h1>


    {{ form_start(form, { 
        attr: { class: 'commande-edit-form' }, 
        action: path('commande_edit', { id: commande.id }) 
    }) }}

        <div class="commande-edit-grid">
            {{ form_row(form.statutCommande) }}
            {{ form_row(form.pretMateriel) }}
            {{ form_row(form.restitutionMateriel) }}
            {{ form_row(form.pretPersonnel) }}

            {{ form_row(form.modeContact) }}
            {{ form_row(form.motifAnnulation, { 'attr': {'class': 'motif-annulation'} }) }}
        </div>

        <div class="commande-actions">
            <button type="submit" class="btn-edit-primary">
                <img src="{{ asset('Visuels/Icônes/Edit_Beige.png') }}"> Enregistrer
            </button>
        </div>

    {{ form_end(form) }}
</div>

<script src="{{ asset('js/commandeedit.js') }}"></script>