<div class="ajx-list">
    <div class="commande-actions">
        <button class="ajax-btn btn-back" data-url="{{ path('horaire_list') }}">
            <img src="{{ asset('Visuels/Icônes/Back_Beige.png') }}"> Retour à la liste
        </button>
    </div>
    <h1>{{ horaire is defined ? 'Modifier un horaire' }}</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-message flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ form_start(form, {
        'attr': { 'class': 'ajax-horaire-form' }, 
        'enctype': 'multipart/form-data',
        'action': path('horaire_edit', { 'id': horaire.id }),
        'method': 'POST'
    }) }}

        <div class="form-group">
            {{ form_label(form.jour) }}
            {{ form_widget(form.jour) }}
            {{ form_errors(form.jour) }}
        </div>

        <div class="form-group">
            {{ form_label(form.heureOuverture) }}
            {{ form_widget(form.heureOuverture) }}
            {{ form_errors(form.heureOuverture) }}
        </div>

        <div class="form-group">
            {{ form_label(form.heureFermeture) }}
            {{ form_widget(form.heureFermeture) }}
            {{ form_errors(form.heureFermeture) }}
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-submit">
                <img src="{{ asset('Visuels/Icônes/Select_Beige.png') }}" alt="">
                Sauvegarder l'horaire
            </button>
        </div>

    {{ form_end(form) }}

</div>