<div class="ajx-list">
    <h1>Horaires</h1>

    <table class="horaire-table">
        <thead>
            <tr>
                <th>Jour</th>
                <th>Heure d’ouverture</th>
                <th>Heure de fermeture</th>
                <th>Dernière modification</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for horaire in horaires %}
                <tr>
                    <td>{{ horaire.jour }}</td>
                    <td>{{ horaire.heureOuverture|date('H:i') }}</td>
                    <td>{{ horaire.heureFermeture|date('H:i') }}</td>
                    <td>
                        {{ horaire.dateModif ? horaire.dateModif|date('d/m/Y H:i') : '-' }}
                    </td>
                    <td class="action-buttons">
                        <button class="ajax-btn btn-see" data-url="{{ path('horaire_show', {'id': horaire.id}) }}">
                            <img src="{{ asset('Visuels/Icônes/See_Beige.png')}}" class="image-plat">
                            Voir &amp; modifier
                        </button>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun horaire enregistré.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>