<div class="ajx-list">
    <div class="commande-actions">
        <button class="ajax-btn btn-back" data-url="{{ path('horaire_list') }}">
            <img src="{{ asset('Visuels/Icônes/Back_Beige.png') }}">Retour à la liste
        </button>
    </div>
    <h1 class="options-title">Détail de l’horaire</h1>

    <div class="option-p">
        <p><strong>Jour : </strong>{{ horaire.jour }}</p>
        <p><strong>Heure d’ouverture : </strong>{{ horaire.heureOuverture|date('H:i') }}</p>
        <p><strong>Heure de fermeture : </strong>{{ horaire.heureFermeture|date('H:i') }}</p>
    </div>

    <div class="plat-actions">
        <button class="btn ajax-btn" data-url="{{ path('horaire_edit', {'id': horaire.id}) }}">
            <img src="{{ asset('Visuels/Icônes/Edit_Beige.png') }}" alt="Modifier">
            Modifier
        </button>
    </div>
</div>