{% extends 'base.html.twig' %}

{% block title %}
    {{ boisson is defined ? 'Modifier la boisson' : 'Créer une boisson' }}
{% endblock %}

{% block body %}
<h1>{{ boisson is defined ? 'Modifier la boisson' : 'Créer une boisson' }}</h1>

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

{{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
        <div>
            {{ form_label(form.titreBoisson) }}
            {{ form_widget(form.titreBoisson) }}
            {{ form_errors(form.titreBoisson) }}
        </div>
        <div>
            {{ form_label(form.category) }}
            {{ form_widget(form.category) }}
            {{ form_errors(form.category) }}
        </div>
        <div>
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
            {{ form_errors(form.description) }}
        </div>
        <div>
            {{ form_label(form.stock) }}
            {{ form_widget(form.stock) }}
            {{ form_errors(form.stock) }}
        </div>
        <div>
            {{ form_label(form.qteParPersonne) }}
            {{ form_widget(form.qteParPersonne) }}
            {{ form_errors(form.qteParPersonne) }}
        </div>
        <div>
            {{ form_label(form.minCommande) }}
            {{ form_widget(form.minCommande) }}
            {{ form_errors(form.minCommande) }}
        </div>
        <div>
            {{ form_label(form.prixParBouteille) }}
            {{ form_widget(form.prixParBouteille) }}
            {{ form_errors(form.prixParBouteille) }}
        </div>
        <div>
            {{ form_label(form.image) }}
            {{ form_widget(form.image) }}
            {{ form_errors(form.image) }}
        </div>
        <div>
            {{ form_label(form.altText) }}
            {{ form_widget(form.altText) }}
            {{ form_errors(form.altText) }}
        </div>

        <button type="submit" class="btn">
            {% if plat is defined %}
                <img src="{{ asset('Visuels/Icônes/Edit_Beige.png') }}" alt="Modifier">Modifier la boisson
            {% else %}
                <img src="{{ asset('Visuels/Icônes/Plus_Beige.png') }}" alt="Créer">Créer la boisson
            {% endif %}
        </button>
{{ form_end(form) }}

<a href="{{ path('boissons_list') }}" class="btn">
    <img src="{{ asset('Visuels/Icônes/Back_Beige.png') }}" alt="Retour">Retour à la liste
</a>

{% endblock %}