<div class="ajx-list">

    <div class="commande-actions">
        <button class="ajax-btn btn-back" data-url="{{ path('boissons_list') }}">
            <img src="{{ asset('Visuels/Icônes/Back_Beige.png') }}">Retour à la liste
        </button>
    </div>

    <h1 class="options-title">{{ boisson.titreBoisson }}</h1>

    <div class="option-p">
        <p><strong>Catégorie : </strong>{{ boisson.category ? boisson.category.libelle : '-' }}</p>
        <p><strong>Description : </strong>{{ boisson.description }}</p>
        <p><strong>Stock : </strong>{{ boisson.stock }}</p>
        <p><strong>Quantité par personne : </strong>{{ boisson.qteParPers }}</p>
        <p><strong>Minimum de commande : </strong>{{ boisson.minCommande }}</p>
        <p><strong>Prix par bouteille : </strong>{{ boisson.prixParBouteille }} €</p>

        {% if boisson.image %}
        <h2>Image</h2>
            <img src="{{ asset(boisson.image) }}" alt="{{ boisson.alt }}">
        {% endif %}
    </div>

    <div class="plat-actions">
        <button class="btn ajax-btn" data-url="{{ path('boissons_edit', {'id': boisson.id}) }}">
            <img src="{{ asset('Visuels/Icônes/Edit_Beige.png') }}" alt="Modifier">
            Modifier
        </button>

        <form method="post"
            action="{{ path('boissons_delete', {'id': boisson.id}) }}"
            onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette boisson ?');"
            style="display:inline-block;">
            
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ boisson.id) }}">

            <button class="btn plat-btn-delete" type="submit">
                <img src="{{ asset('Visuels/Icônes/Delete_Beige.png') }}" alt="Supprimer">
                Supprimer
            </button>
        </form>
    </div>


</div>