<h1>Modifier le statut de l'avis</h1>

{{ form_start(form) }}
    {{ form_row(form.statut) }}
    {{ form_row(form.validePar) }}

    <button type="submit" class="btn">
        <img src="{{ asset('Visuels/Icônes/Edit_Beige.png') }}" alt="Modifier">Modifier
    </button>
{{ form_end(form) }}

<a href="{{ path('avis_list') }}" class="btn">
    <img src="{{ asset('Visuels/Icônes/Back_Beige.png') }}" alt="Retour">Retour à la liste
</a>