{% extends 'base.html.twig' %}

{% block title %}Laisser un avis{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/dashboarduser.css') }}">
{% endblock %}

{% block content %}
<div class="avis-form-container">
    <div class="avis-titre">
        <h1>Laisser un avis pour votre commande <br>#{{ commande.numeroCommande }}</h1>
        <p><strong>Menu :</strong> {{ commande.menu ? commande.menu.nom : 'Aucun menu' }}</p>
        <p><strong>Date de livraison :</strong> {{ commande.dateLivraison ? commande.dateLivraison|date('d/m/Y') : 'Date inconnue' }}</p>
    </div>

    {{ form_start(form, {'attr': {'class': 'form-avis'}}) }}

    <div class="form-group">
            <p class="avis-label">Votre note</p>
            <div class="stars-wrapper">
                {{ form_widget(form.notes) }}
            </div>
            {{ form_errors(form.notes) }}
    </div>

    <div class="form-group">
        <p class="avis-label-text">Votre avis</p>
        {{ form_widget(form.contenu, {'attr': {'class':'textarea-avis'}}) }}
        {{ form_errors(form.contenu) }}
    </div>

    <div class="form-group">
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
    </div>

    {{ form_end(form) }}
</div>
{% endblock %}

{% block javascripts %}
<script>
const notesInput = document.querySelector('input[name="{{ form.notes.vars.full_name }}"]');

document.querySelectorAll('.stars-wrapper input[type="radio"]').forEach(radio => {
    radio.addEventListener('click', function() {
        notesInput.value = this.value;
    });
});
</script>
{% endblock %}